.YouTube {background-color: #FF0000;}
.YouTube:hover {background-color: #bd0000;}

.Twitter {background-color: #1D9BF0;}
.Twitter:hover {background-color: #1672af;}

.Discord {background-color: #5865F2;}
.Discord:hover {background-color: #454fbe;}

.Spotify {background-color: #1ED760;}
.Spotify:hover {background-color: #19ad4d;}

.Bluesky {background-color: #0C7CFF;}
.Bluesky:hover {background-color: #0963c9;}

.Github {background-color: #1B1F23;}
.Github:hover {background-color: #15181b;}

.MainImage {
    width: 200px;
    height: 200px;
}

.CatSkate {
  width: 400px;
  height: 400px;
}

.HWC {
    position: relative;
    width: 200px;
    height: 200px;
}
  
.HW {
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    font-size: 48px;
    animation: wave 0.5s infinite linear;
}
  
@keyframes wave {
    0% {
      transform: translate(-50%, -50%) rotate(-30deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(30deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-30deg);
      }
}

.PWC {
    position: relative;
    width: 200px;
    height: 200px;
}
  
.PW {
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 80%;
    font-size: 48px;
    animation: pwave 0.8s infinite linear;
}
  
@keyframes pwave {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(15deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-15deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

.MPOS {
  position: absolute;
  top: 30px;
  left: 400px;
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 10;
  pointer-events: none;
}

.GPOS {
  position: absolute;
  top: 510px;
  z-index: 10;
  pointer-events: none;
  width: 400px;
  height: 400px;
  opacity: 30%;
}

.FMBG {
  background-image: url('https://i.ibb.co/RBhT2J9/transparent.png');
  background-position: center calc(0px - 160px);
}

.CATBG {
  background-image: url('https://i.ibb.co/LS8ydjX/23-07-30-20-31-08-6309.webp');
  background-position: center calc(0px - 70px);
}

.AIBG {
  background-image: url('https://i.ibb.co/Sfdfmtj/7f7f2882899755a705a2953b6fcfc263-1.gif');
}

.PPBG {
  background-image: url('https://i.ibb.co/pr5p1VF/Pepsi-2023-svg.png');
  background-position: center calc(0px - 180px);
}

.bg-cover {
  background-size: cover;
}

.text-shadow-black {
  text-shadow: 2px 2px black;
}

@media only screen and (max-width: 720px) {
  .All {
      transform: scale(0.65);
  }

  .Home {
    transform: scale(0.65);
    top: -200px;
  }

  .About {
  transform: scale(0.65);
  top: -255px;
  }

  .Socials {
  transform: scale(0.65);
  top: -117px;
  }

  .MPOS {
    left: 310px;
  }

  .GPOS {
    top: 640px;
  }
}